<!DOCTYPE html>
<html lang="en">
    <head>
         
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Contact us | Mindy</title>
        <link rel="stylesheet" href="/css/contact.css"> 
        <link rel="stylesheet" type="text/css" href="/navbar.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    </head>
    <body>

        

        <h1><b>CONTACT US</b></h1>
        <section>
            <div class ="container">

                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="/parts/contact/images/Abhinav.jpeg" alt="image">
                        </div>
                        <div class="contentBx">
                            <h3>Abhinav Aggrawal</h3>
                        </div>
                    </div> 

                    <ul class="sci">
                    <li style="--i:1"><a href="https://www.linkedin.com/in/abhinav-aggrawal-aa97b6201/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li style="--i:2"><a href="https://github.com/qw-erty"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li style="--i:3"><a href="https://www.instagram.com/abhinav.aggrawal.376/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>

                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="/parts/contact/images/Anirudh.jpg" alt="image">
                        </div>
                        <div class="contentBx">
                            <h3>Anirudh Sharma</h3>
                        </div>
                    </div> 

                    <ul class="sci">
                    <li style="--i:1"><a href="https://www.linkedin.com/in/anirudhjs07/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li style="--i:2"><a href="https://github.com/AnirudhJS07"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li style="--i:3"><a href="https://www.instagram.com/aniruxhjs07/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    
                </div>

                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="/parts/contact/images/Shreya.jpg" alt="image">
                        </div>
                        <div class="contentBx">
                            <h3>Shreya Joshi</h3>
                        </div>
                    </div> 

                    <ul class="sci">
                    <li style="--i:1"><a href="https://www.linkedin.com/in/shreya-joshi-211a07146"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li style="--i:2"><a href="https://github.com/shreyaj1"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li style="--i:3"><a href="https://www.instagram.com/shreahh/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    
                </div>

                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="/parts/contact/images/Swati.jpg" alt="image">
                        </div>
                        <div class="contentBx">
                            <h3>Swati Gupta</h3>
                        </div>
                    </div> 

                    <ul class="sci">
                    <li style="--i:1"><a href="https://www.linkedin.com/in/swati-gupta-816b26204"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li style="--i:2"><a href="https://github.com/Swatigupta-droid"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li style="--i:3"><a href="https://www.instagram.com/__.freaking__fooditude.__/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
             
                </div>
            </div>   

        </section>
    </body>
</html>
