section
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  padding-top: 5px;
  background-color: rgb(212, 97, 86);
}
.icon
{
  margin-left: 15px;
}
.login
{
  margin-right: 15px;
}
.login a{
  text-decoration: none;
  color: white;
  font-size: large;
  padding: 5px;
  margin: 5px;
}

.navbar
{
  overflow: hidden;
  font-family: 'raleway',sans-serif;
}
.navbar a
{
  float: left;
  font-size: 16px;
  color: white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
}
.dropdown
{
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn,.dropdown .dropbtn1 ,.dropdown .dropbtn2
{
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover
.dropbtn, .dropbtn:focus,.dropbtn1,.dropbtn1:focus,.dropbtn2,.dropbtn2:focus
{
  background-color:white;
  color: #111111;
}
.content1
{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.content1 a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.content1 a:hover
{
  background-color: #e68ba0;
}
.dropdown:hover .content1
{
  display: block;
}
.show
{
  display: block;
}
body{
    margin:0;
    padding:0;
    overflow: hidden;
}
.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('header.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway',sans-serif;
    opacity: 0.9;
}
h1{
   color:#fff;
   margin-bottom: 70px; 
   font-size: 45px;
   letter-spacing: 2px;
   text-align: center;
}
.search-field{
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}
.Country{
    width: 400px;
}
.State{
    width: 300px;
}
.search-btn{
    height:50px;
    width:150px;
    background:#ffeb3b;
    border:none;
    color:#000;
    border-radius:25px;
}
.search-btn:hover{
    background: #ffc107;
    cursor: pointer;
}
.form-box{
    background:rgba(0,0,0,0.5);
    padding: 30px;
}